html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  background-color: aquamarine;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav {
  background-color: #999;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
  width: 150px;
}

.nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  display: block;
  font-size: large;
  border: 1px solid #414141;
  border-right: none;
}

.nav li:last-child a {
  border-right: 1px solid #414141;
}

.nav a:hover {
  color: #555;
}

.article {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 100px;
  list-style: none;
  border-radius: 30px;
  background: #fff;
  width: 70%;
  margin: 10px 15%;
}

.movie {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

.logo {
  width: 300px;
}

/* トップ */
.top {
  /* 背景にpicsum.photosから取得した画像を設定 */
  background-image: url("https://picsum.photos/1000/300");
  /* 画像をいっぱいに表示 */
  background-size: cover;
  /* 表示する高さを画面の40％に */
  height: 40vh;
  /* 表示幅を画面の90%に */
  width: 100%;
  /* フレックスボックスを指定*/
  display: flex;
  /* フレックスアイテムを使って両端から中央に配置*/
  justify-content: center;
  /* フレックスアイテムを使って上下から中央に配置 */
  align-items: center;
  /* テキストの配置を中央揃えに */
  text-align: center;
}

.top_msg {
  /* 文字色を白に */
  color: #fff;
}

.content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.usage-methods img {
  max-width: 40%;
  height: auto;
}

.footer {
  background-color: #666;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100vh;
}

/*スマホ対応*/
@media screen and (max-width: 640px) {
  .nav {
    background-color: #0183a0;
    height: 150px;
  }

  .nav ul {
    flex-direction: column;
    padding: 0;
  }

  .nav li {
    border-bottom: solid 1px #fff;
  }

  .footer {
    background-color: #0183a0;
  }
}